<!DOCTYPE html>
<html lang="en" dir="ltr" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
    window.frctl = {
        env: 'static'
    };
    </script>
    <script>var cl = document.querySelector('html').classList; cl.remove('no-js'); cl.add('has-js');</script>
    <link rel="shortcut icon" href="../../themes/mandelbrot/favicon.ico" type="image/ico">
<style>
    :root {
        
        
        
    }
</style>

<link rel="stylesheet" href="../../themes/mandelbrot/css/default.css?cachebust=1.6.0" type="text/css">

<link rel="stylesheet" href="../../custom-theme.css?cachebust=1.6.0" type="text/css">

<link rel="stylesheet" href="../../themes/mandelbrot/css/highlight.css?cachebust=1.6.0" type="text/css">


<title>Button: Icon | Fractal Starter Kit (also, please change this 😘)</title>

</head>
<body>



<div class="Frame" id="frame">

    <div class="Frame-header">
        <div class="Header">
    <button class="Header-button Header-navToggle" data-action="toggle-sidebar">
        <div class="Header-navToggleIcon Header-navToggleIcon--open">
            <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 6.4L17.6 5 12 10.6 6.4 5 5 6.4 10.6 12 5 17.6 6.4 19 12 13.4 17.6 19 19 17.6 13.4 12z"/>
</svg>

        </div>
        <div class="Header-navToggleIcon Header-navToggleIcon--closed">
            <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
</svg>

        </div>
    </button>
    <a href="../../index.html" class="Header-title" data-pjax>Fractal Starter Kit (also, please change this 😘)</a>
</div>

    </div>

    <div class="Frame-body" data-role="body">

        <div class="Frame-panel Frame-panel--main" data-role="main">
            <div class="Frame-inner" id="pjax-container">
            


    
    

<div class="Pen" data-behaviour="pen" id="pen-e92fc4a57cea955bff72b33cc74c8853">

    

    <div class="Pen-panel Pen-header">
    <h1 class="Pen-title">
        <a class="Pen-previewLink" href="../preview/button--icon.html" title="Preview">
            Button: Icon
            <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>

        </a>
    </h1>
    

<div class="Status Status--tag">

<label class="Status-label" style="background-color: #29CC29; border-color: #29CC29;">Ready</label>

</div>


</div>


    <div class="Pen-panel Pen-preview Preview" data-behaviour="preview" id="preview-e92fc4a57cea955bff72b33cc74c8853">
    <div class="Preview-wrapper" data-role="resizer">
        <div class="Preview-resizer">
            
             <iframe
                class="Preview-iframe"
                data-role="window"
                src="../preview/button--icon.html"
                 style=""
                marginwidth="0" marginheight="0" frameborder="0" vspace="0" hspace="0" scrolling="yes">
            </iframe>
        </div>
        <div class="Preview-handle" data-role="resize-handle"></div>
        <div class="Preview-overlay"></div>
    </div>
</div>


    <div class="Pen-handle Pen-handle--browser" data-role="resize-handle"></div>

    <div class="Pen-panel Pen-info" data-role="info">
    <div class="Browser" data-behaviour="browser" id="browser-e92fc4a57cea955bff72b33cc74c8853">

    

<div class="Browser-controls">
    <ul class="Browser-tabs">
        
        
        <li class="Browser-tab Browser-tab--html is-active " data-role="tab">
            <a href="#browser-e92fc4a57cea955bff72b33cc74c8853-panel-html">
                HTML
            </a>
        </li>
        
        
        
        <li class="Browser-tab Browser-tab--view" data-role="tab">
            <a href="#browser-e92fc4a57cea955bff72b33cc74c8853-panel-view">
                View
            </a>
        </li>
        
        
        
        <li class="Browser-tab Browser-tab--context" data-role="tab">
            <a href="#browser-e92fc4a57cea955bff72b33cc74c8853-panel-context">
                Context
            </a>
        </li>
        
        
        
        
        
        <li class="Browser-tab Browser-tab--resources" data-role="tab">
            <a href="#browser-e92fc4a57cea955bff72b33cc74c8853-panel-assets">Assets</a>
        </li>
        
        
        
        
        
        <li class="Browser-tab Browser-tab--info" data-role="tab">
            <a href="#browser-e92fc4a57cea955bff72b33cc74c8853-panel-info">
                Info
            </a>
        </li>
        
        
        
        <li class="Browser-tab Browser-tab--notes" data-role="tab">
            <a href="#browser-e92fc4a57cea955bff72b33cc74c8853-panel-notes">
                Notes
            </a>
        </li>
        
        
    </ul>
</div>


    
    
<div class="Browser-panel Browser-code is-active" data-role="tab-panel" id="browser-e92fc4a57cea955bff72b33cc74c8853-panel-html">
    <code class="Code Code--lang-html hljs">
        
        <pre><span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"button"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">span</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">svg</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"icon"</span> <span class="hljs-attr">height</span>=<span class="hljs-string">"24"</span> <span class="hljs-attr">width</span>=<span class="hljs-string">"24"</span> <span class="hljs-attr">aria-hidden</span>=<span class="hljs-string">"true"</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-name">use</span> <span class="hljs-attr">xlink:href</span>=<span class="hljs-string">"#language"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">use</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-name">svg</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">span</span>&gt;</span>Language<span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span></pre>
        
    </code>
</div>

    
    <div class="Browser-panel Browser-code" data-role="tab-panel" id="browser-e92fc4a57cea955bff72b33cc74c8853-panel-view">
    <code class="Code Code--lang-handlebars hljs">
        <pre><span class="xml"><span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"button"</span>
  </span></span><span class="hljs-template-tag">{{#<span class="hljs-name"><span class="hljs-builtin-name">if</span></span> modifier}}</span><span class="xml"><span class="hljs-tag"> <span class="hljs-attr">class</span>=<span class="hljs-string">"</span></span></span><span class="hljs-template-variable">{{ modifier }}</span><span class="xml"><span class="hljs-tag"><span class="hljs-string">"</span></span></span><span class="hljs-template-tag">{{/<span class="hljs-name"><span class="hljs-builtin-name">if</span></span>}}</span><span class="xml"><span class="hljs-tag">
  </span></span><span class="hljs-template-tag">{{#<span class="hljs-name"><span class="hljs-builtin-name">if</span></span> icon_only}}</span><span class="xml"><span class="hljs-tag"> <span class="hljs-attr">aria-label</span>=<span class="hljs-string">"</span></span></span><span class="hljs-template-variable">{{text}}</span><span class="xml"><span class="hljs-tag"><span class="hljs-string">"</span></span></span><span class="hljs-template-tag">{{/<span class="hljs-name"><span class="hljs-builtin-name">if</span></span>}}</span><span class="xml"><span class="hljs-tag">
&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">span</span>&gt;</span>
    </span><span class="hljs-template-tag">{{#<span class="hljs-name"><span class="hljs-builtin-name">if</span></span> icon}}</span><span class="xml">
      </span><span class="hljs-template-variable">{{&gt; <a href="svg.html">@svg</a>}}</span><span class="xml">
    </span><span class="hljs-template-tag">{{/<span class="hljs-name"><span class="hljs-builtin-name">if</span></span>}}</span><span class="xml">
    </span><span class="hljs-template-tag">{{#<span class="hljs-name"><span class="hljs-builtin-name">unless</span></span> icon_only}}</span><span class="xml">
      <span class="hljs-tag">&lt;<span class="hljs-name">span</span>&gt;</span></span><span class="hljs-template-variable">{{text}}</span><span class="xml"><span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
    </span><span class="hljs-template-tag">{{/<span class="hljs-name"><span class="hljs-builtin-name">unless</span></span>}}</span><span class="xml">
  <span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span></span></pre>
    </code>
</div>

    
    <div class="Browser-panel Browser-code" data-role="tab-panel" id="browser-e92fc4a57cea955bff72b33cc74c8853-panel-context">
    <code class="Code Code--lang-yaml hljs">
        
            
            <pre><span class="hljs-attr">text:</span> <span class="hljs-string">Language</span>
<span class="hljs-attr">icon:</span> <span class="hljs-string">language</span>
</pre>
            
        
    </code>
</div>

    
    


<div class="Browser-panel Browser-resources" data-role="tab-panel" id="browser-e92fc4a57cea955bff72b33cc74c8853-panel-assets">
    <div class="FileBrowser">

        <div class="FileBrowser-selectWrapper">
            <label class="FileBrowser-select-label" for="filebrowser-select">File:</label>
            <select class="FileBrowser-select" id="filebrowser-select">
                
                <option value="file-99ecb1a144103a94c099e330687e5dae">button.css</option>
                
            </select>
        </div>

        
        <div class="FileBrowser-item is-active" id="file-99ecb1a144103a94c099e330687e5dae" data-role="resource-preview">
            <ul class="Meta">
                <li class="Meta-item">
                    <strong class="Meta-key">Content:</strong>
                    <span class="Meta-value">
                        <div class="FileBrowser-itemPreview">
                            
                            <code class="Code Code--lang-CSS FileBrowser-code hljs">
                                <pre><span class="hljs-comment">/**
 * Buttons
 */</span>

<span class="hljs-keyword">@media</span> screen {

  <span class="hljs-selector-tag">button</span> {
    <span class="hljs-attribute">background-color</span>: <span class="hljs-built_in">var</span>(--primary-background);
    <span class="hljs-attribute">border-radius</span>: <span class="hljs-number">0.25rem</span>;
    <span class="hljs-attribute">border</span>: <span class="hljs-number">1px</span> solid <span class="hljs-built_in">var</span>(--primary-background);
    <span class="hljs-attribute">color</span>: <span class="hljs-number">#fff</span>;
    <span class="hljs-attribute">font</span>: inherit;
    <span class="hljs-attribute">padding</span>: <span class="hljs-number">0.25em</span> <span class="hljs-number">0.75em</span>;
  }

  <span class="hljs-selector-tag">button</span> &gt; <span class="hljs-selector-tag">span</span> {
    <span class="hljs-attribute">display</span>: flex;
    <span class="hljs-attribute">align-items</span>: center;
    <span class="hljs-attribute">justify-content</span>: center;
    <span class="hljs-attribute">cursor</span>: default;
  }

  <span class="hljs-comment">/* Button icon */</span>
  <span class="hljs-selector-tag">button</span> &gt; <span class="hljs-selector-tag">span</span> &gt; <span class="hljs-selector-class">.icon</span> {
    <span class="hljs-attribute">flex</span>: <span class="hljs-number">0</span> <span class="hljs-number">0</span> auto;
  }

  <span class="hljs-comment">/* Button text label */</span>
  <span class="hljs-selector-tag">button</span> &gt; <span class="hljs-selector-tag">span</span> &gt; <span class="hljs-selector-tag">span</span> {
    <span class="hljs-attribute">min-width</span>: <span class="hljs-number">0</span>;
    <span class="hljs-attribute">white-space</span>: nowrap;
    <span class="hljs-attribute">overflow</span>: hidden;
    <span class="hljs-attribute">text-overflow</span>: ellipsis;
  }

  <span class="hljs-selector-tag">button</span><span class="hljs-selector-class">.alt</span> {
    <span class="hljs-attribute">background-color</span>: <span class="hljs-number">#fff</span>;
    <span class="hljs-attribute">border-color</span>: <span class="hljs-number">#999</span>;
    <span class="hljs-attribute">color</span>: currentColor;
  }

  <span class="hljs-selector-tag">button</span> <span class="hljs-selector-tag">span</span> {
    <span class="hljs-attribute">margin</span>: <span class="hljs-number">0</span>;
  }

  <span class="hljs-selector-tag">button</span> <span class="hljs-selector-class">.icon</span> {
    <span class="hljs-attribute">height</span>: <span class="hljs-number">1.5em</span>;
    <span class="hljs-attribute">width</span>: <span class="hljs-number">1.5em</span>;
  }

  <span class="hljs-selector-tag">button</span> <span class="hljs-selector-class">.icon</span> + <span class="hljs-selector-tag">span</span> {
    <span class="hljs-attribute">margin-left</span>: <span class="hljs-number">0.5em</span>;
  }

  <span class="hljs-comment">/* RTL */</span>
  <span class="hljs-selector-attr">[dir=<span class="hljs-string">"rtl"</span>]</span> <span class="hljs-selector-tag">button</span> <span class="hljs-selector-class">.icon</span> + <span class="hljs-selector-tag">span</span> {
    <span class="hljs-attribute">margin-left</span>: <span class="hljs-number">0</span>;
    <span class="hljs-attribute">margin-right</span>: <span class="hljs-number">0.5em</span>;
  }

  <span class="hljs-selector-tag">button</span><span class="hljs-selector-attr">[type=<span class="hljs-string">"reset"</span>]</span> {
    <span class="hljs-attribute">background-color</span>: <span class="hljs-number">#fff</span>;
    <span class="hljs-attribute">color</span>: currentColor;
    <span class="hljs-attribute">margin-right</span>: <span class="hljs-number">1rem</span>;
  }

  <span class="hljs-selector-tag">button</span><span class="hljs-selector-attr">[disabled]</span> {
    <span class="hljs-attribute">background-color</span>: <span class="hljs-number">#efefef</span>;
    <span class="hljs-attribute">color</span>: <span class="hljs-number">#aaa</span>;
    <span class="hljs-attribute">border</span>: <span class="hljs-number">1px</span> solid <span class="hljs-number">#c7c7c7</span>;
  }

  <span class="hljs-selector-tag">button</span><span class="hljs-selector-attr">[aria-pressed=<span class="hljs-string">"true"</span>]</span> {
    <span class="hljs-attribute">background-color</span>: <span class="hljs-number">#666</span>;
    <span class="hljs-attribute">border</span>: none;
  }

  <span class="hljs-comment">/* Full width call to action */</span>
  <span class="hljs-selector-tag">button</span><span class="hljs-selector-class">.main-cta</span> {
    <span class="hljs-attribute">display</span>: block;
    <span class="hljs-attribute">width</span>: <span class="hljs-number">100%</span>;
  }

  <span class="hljs-selector-tag">button</span><span class="hljs-selector-class">.main-cta</span> &gt; <span class="hljs-selector-tag">span</span> {
    <span class="hljs-attribute">display</span>: block;
    <span class="hljs-attribute">text-overflow</span>: ellipsis;
    <span class="hljs-attribute">overflow</span>: hidden;
    <span class="hljs-attribute">max-width</span>: <span class="hljs-number">100%</span>;
    <span class="hljs-attribute">white-space</span>: nowrap;
  }

  <span class="hljs-comment">/* Flat button with only icon */</span>
  <span class="hljs-selector-tag">button</span><span class="hljs-selector-class">.btn-flat-icon</span> {
    <span class="hljs-attribute">background-color</span>: transparent;
    <span class="hljs-attribute">border</span>: <span class="hljs-number">0</span>;
    <span class="hljs-attribute">border-radius</span>: <span class="hljs-number">0</span>;
    <span class="hljs-attribute">color</span>: currentColor;
    <span class="hljs-attribute">padding</span>: <span class="hljs-number">0.2rem</span>;
    <span class="hljs-attribute">min-width</span>: auto;
    <span class="hljs-attribute">display</span>: block;
    <span class="hljs-attribute">text-align</span>: center;
    <span class="hljs-attribute">-webkit-hyphens</span>: auto;
    <span class="hljs-attribute">hyphens</span>: auto;
    <span class="hljs-attribute">word-break</span>: break-all;
    <span class="hljs-attribute">word-break</span>: break-word;
  }

  <span class="hljs-selector-tag">button</span><span class="hljs-selector-class">.btn-flat-icon</span> <span class="hljs-selector-class">.icon</span> {
    <span class="hljs-attribute">transform</span>: <span class="hljs-built_in">scale</span>(<span class="hljs-number">1</span>);
  }

  <span class="hljs-selector-tag">button</span><span class="hljs-selector-class">.btn-flat-icon</span><span class="hljs-selector-class">.active</span> {
    <span class="hljs-attribute">color</span>: <span class="hljs-built_in">var</span>(--primary-background);
  }

  <span class="hljs-selector-tag">button</span><span class="hljs-selector-class">.btn-flat-icon</span> &gt; <span class="hljs-selector-tag">span</span> {
    <span class="hljs-attribute">display</span>: flex;
    <span class="hljs-attribute">flex-direction</span>: column;
    <span class="hljs-attribute">justify-content</span>: center;
    <span class="hljs-attribute">align-items</span>: center;
  }

  <span class="hljs-selector-tag">button</span><span class="hljs-selector-class">.btn-flat-icon</span> <span class="hljs-selector-tag">span</span> <span class="hljs-selector-tag">span</span> {
    <span class="hljs-attribute">font-size</span>: <span class="hljs-number">0.75em</span>;
    <span class="hljs-attribute">font-weight</span>: bold;
    <span class="hljs-attribute">margin</span>: <span class="hljs-number">0.5em</span> <span class="hljs-number">0</span> <span class="hljs-number">0</span>;
  }

  <span class="hljs-comment">/* Callout button (larger icon) */</span>
  <span class="hljs-selector-tag">button</span><span class="hljs-selector-class">.btn-flat-icon</span><span class="hljs-selector-class">.callout</span> <span class="hljs-selector-class">.icon</span> {
    <span class="hljs-attribute">height</span>: <span class="hljs-number">2.2em</span>;
    <span class="hljs-attribute">width</span>: <span class="hljs-number">2.2em</span>;
  }

  <span class="hljs-selector-tag">button</span><span class="hljs-selector-class">.circle</span><span class="hljs-selector-class">.alt</span> {
    <span class="hljs-attribute">color</span>: <span class="hljs-built_in">var</span>(--mid-dark-grey);
  }

  <span class="hljs-comment">/**
   * Button sizes
   */</span>

  <span class="hljs-comment">/* Small */</span>
  <span class="hljs-selector-tag">button</span><span class="hljs-selector-class">.size-s</span> {
    <span class="hljs-attribute">font-size</span>: <span class="hljs-number">0.86em</span>;
    <span class="hljs-attribute">padding</span>: <span class="hljs-number">0.5em</span> <span class="hljs-number">0.75em</span>;
  }

  <span class="hljs-comment">/* Large */</span>
  <span class="hljs-selector-tag">button</span><span class="hljs-selector-class">.size-l</span> {
    <span class="hljs-attribute">padding</span>: <span class="hljs-number">1em</span> <span class="hljs-number">1.125em</span>;
  }
}
</pre>
                            </code>
                            
                        </div>
                    </span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">URL:</strong>
                    <span class="Meta-value"><a data-no-pjax href="../raw/button/button.css"><span>/components/raw/button/button.css</span></a></span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">Filesystem Path:</strong>
                    <span class="Meta-value">components/01_atoms/button/button.css</span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">Size:</strong>
                    <span class="Meta-value">2.6 KB</span>
                </li>
            </ul>
        </div>
        
    </div>
</div>



    
    <div class="Browser-panel" data-role="tab-panel" id="browser-e92fc4a57cea955bff72b33cc74c8853-panel-info">
    <ul class="Meta">
        <li class="Meta-item">
            <strong class="Meta-key">Handle:</strong>
            <span class="Meta-value">@button--icon</span>
        </li>
        
        
        
        
        
        <li class="Meta-item">
            <strong class="Meta-key">Variants <em class="Meta-count">(6)</em>:</strong>
            <span class="Meta-value Meta-value--linkList">
            
                <a href="button--default.html">
                    <span>Default</span>
                </a>, 
            
                <a href="button--alternative.html">
                    <span>Alternative</span>
                </a>, 
            
                <a href="button--small.html">
                    <span>Small</span>
                </a>, 
            
                <a href="button--large.html">
                    <span>Large</span>
                </a>, 
            
                <a href="">
                    <span>Icon</span>
                </a>, 
            
                <a href="button--icon-only.html">
                    <span>Icon Only</span>
                </a>
            
            </span>
        </li>
        
        <li class="Meta-item">
            <strong class="Meta-key">Preview:</strong>
            <span class="Meta-value">
                <ul>
                    <li><a data-no-pjax href="../preview/button--icon.html"><span>With layout</span> <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>
</a></li>
                    <li><a data-no-pjax href="../render/button--icon.html"><span>Component only</span> <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>
</a></li>
                </ul>
            </span>
        </li>
        <li class="Meta-item">
            <strong class="Meta-key">Filesystem Path:</strong>
            <span class="Meta-value">components/01_atoms/button/button.hbs</span>
        </li>
        
        <li class="Meta-item">
            <strong class="Meta-key">References <em class="Meta-count">(1)</em>:</strong>
            <span class="Meta-value Meta-value--linkList">
            
                <a href="svg.html">@<span>svg</span></a>
            
            </span>
        </li class="Meta-item">
        
        
    </ul>
</div>

    
    <div class="Browser-panel Browser-notes" data-role="tab-panel" id="browser-e92fc4a57cea955bff72b33cc74c8853-panel-notes">
    <div class="Prose Prose--condensed">
        
        <p class="Browser-isEmptyNote">No notes defined.</p>
        
    </div>
</div>

    

</div>

</div>


    

</div>


            </div>
        </div>

        <div class="Frame-handle" data-role="frame-resize-handle"></div>

        <div class="Frame-panel Frame-panel--sidebar" data-role="sidebar">
            <nav class="Navigation">
    
        
<div class="Navigation-group">

<div class="Tree" data-behaviour="tree" id="tree-docs">
    <div class="Tree-header">
        <h3 class="Tree-title">documentation</h3>

        <button type="button" data-behaviour="collapse-tree" class="Tree-collapse" title="Collapse tree" aria-label="Collapse tree" hidden>
            <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m9 11c-.6 0-1 .4-1 1s.4 1 1 1h6c.6 0 1-.4 1-1s-.4-1-1-1z"/><path d="m19 21h-14c-1.1 0-2-.9-2-2v-14c0-1.1.9-2 2-2h14c1.1 0 2 .9 2 2v14c0 1.1-.9 2-2 2zm-14-16v14h14v-14z"/></svg>

        </button>
    </div>
    <ul class="Tree-items Tree-depth-1">
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../index.html" data-pjax>
                <span>Overview</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/svg-icons.html" data-pjax>
                <span>Svg Icons</span>
                
            </a>
        </li>
        
    

    </ul>
</div>

</div>


    
        

    
    
    <div class="Navigation-group">
        
<div class="Tree" data-behaviour="tree" id="tree-components">
    <div class="Tree-header">
        <h3 class="Tree-title">components</h3>

        <button type="button" data-behaviour="collapse-tree" class="Tree-collapse" title="Collapse tree" aria-label="Collapse tree" hidden>
            <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m9 11c-.6 0-1 .4-1 1s.4 1 1 1h6c.6 0 1-.4 1-1s-.4-1-1-1z"/><path d="m19 21h-14c-1.1 0-2-.9-2-2v-14c0-1.1.9-2 2-2h14c1.1 0 2 .9 2 2v14c0 1.1-.9 2-2 2zm-14-16v14h14v-14z"/></svg>

        </button>
    </div>
    <ul class="Tree-items Tree-depth-1">
        
    
        
            
            
            <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-00_base">
                <button class="Tree-collectionLabel" data-role="toggle" aria-expanded="true" aria-controls="tree-components-collection-00_base-items">
                    00 Base
                </button>
                <ul class="Tree-collectionItems" data-role="items" id="tree-components-collection-00_base-items">
                
                
                
                
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="colors.html" data-pjax>
                <span>Colors</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #ff9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="typography.html" data-pjax>
                <span>Typography</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #ff9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    

                </ul>
            </li>
            
        
    
        
            
            
            <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-01_atoms">
                <button class="Tree-collectionLabel" data-role="toggle" aria-expanded="true" aria-controls="tree-components-collection-01_atoms-items">
                    01 Atoms
                </button>
                <ul class="Tree-collectionItems" data-role="items" id="tree-components-collection-01_atoms-items">
                
                
                
                
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="button.html" data-pjax>
                <span>Button</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="svg.html" data-pjax>
                <span>Svg</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #ff9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    

                </ul>
            </li>
            
        
    

    </ul>
</div>

    </div>
    


    
</nav>

        </div>
    </div>
</div>




<script src="../../themes/mandelbrot/js/mandelbrot.js?cachebust=1.6.0"></script>



</body>
</html>
