

<ul class="color-palette-list">
  <li>
    <div class="color-sample" style="background-color: #333"></div>
    <ul class="flat-list">
      <li><code>--body-text</code></li>
      <li><code>#333</code></li>
    </ul>
  </li>
  <li>
    <div class="color-sample" style="background-color: #fff"></div>
    <ul class="flat-list">
      <li><code>--body-background</code></li>
      <li><code>#fff</code></li>
    </ul>
  </li>
  <li>
    <div class="color-sample" style="background-color: #f09d51"></div>
    <ul class="flat-list">
      <li><code>--primary-background</code></li>
      <li><code>#f09d51</code></li>
    </ul>
  </li>
</ul>

